@use './variables'
  
@mixin flexy($disp: flex, $dir: null, $align: null, $justify: null, $wrap: null, $flex: null)
  display: $disp
  flex-direction: $dir
  align-items: $align
  justify-content: $justify
  flex-wrap: $wrap
  @content

@mixin flex-col
  display: flex
  flex-direction: column
  align-items: center
  @content

@mixin flex-row
  display: flex
  flex-direction: row
  flex-wrap: wrap

@mixin max-width
  max-width: 900px

@mixin vw-large
  width: 95vw

@mixin fam-pic
  @include vw-large
  @include max-width
  margin-top: 10px
  border-radius: variables.$radius-m
  box-shadow: 0 0 10px rgb(83, 83, 83)

  

@mixin line-anim($color: null)
  position: relative
  &::before 
    content: ''
    position: absolute
    height: 0
    width: 0
    left: 0
    bottom: 0
    border-bottom: 1px solid $color
    transition: all .3s ease-out
  &:hover 
    &::before 
      width: 100%
