* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  transition: all 150ms ease;
}

.uppercase {
  text-transform: uppercase;
}

.bottom20 {
  margin-bottom: 20px;
}

.active {
  color: #e7aa63;
}

.content {
  max-width: 900px;
  width: 95vw;
}
.content h2 {
  margin: 20px 0;
}
@media (min-width: 768px) {
  .content {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 200px auto;
  }
}

.content-parent {
  min-height: 100vh;
}

.section-header {
  margin-bottom: 20px;
}

.btns {
  margin-bottom: 50px;
}

.social {
  width: 44px;
}
@media (min-width: 768px) {
  .social {
    margin-right: 10px;
  }
}

.hide {
  bottom: -100px;
}

.show {
  bottom: 80px;
}

.see {
  margin: 50px 0;
}

a {
  text-decoration: none;
  color: #0082ad;
  cursor: pointer;
}
@media (min-width: 962px) {
  a:hover {
    color: #e7aa63;
  }
}

ul {
  list-style: none;
  padding: none;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h2, h3, h4, h5, h6 {
  width: auto;
}

h4, h5, h6 {
  text-transform: capitalize;
}

h1, h2, h3 {
  text-transform: uppercase;
}

h1 {
  font-size: 1.8em;
  color: #0082ad;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
  color: #0082ad;
}

button {
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
  border: none;
  background-color: black;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.error {
  margin-bottom: 20px;
  text-align: center;
}

.error-div {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
}

body, #root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content {
  max-width: 900px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background: #5b776a;
}
header h1 {
  background: none;
  padding: 0;
  font-size: 1.2em;
  color: white;
}
header h3 {
  font-size: 0.8em;
  color: white;
  width: fit-content;
}
header div, header .logo-link {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header span h3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
header .logo-link {
  width: 250px;
}
header .logo {
  height: 40px;
  margin: 5px;
  width: auto;
}
@media (min-width: 768px) {
  header .logo {
    height: 50px;
  }
}
@media (min-width: 768px) {
  header {
    position: static;
    margin-bottom: 20px;
  }
  header h3 {
    width: fit-content;
  }
}

footer {
  @includes mixins.flexy();
  margin-top: 50px;
  padding-bottom: 80px;
}
footer ul {
  @includes mixins.flexy($dir: column-reverse);
  height: auto;
  text-transform: capitalize;
  text-align: center;
  font-size: 0.8em;
}
@media (min-width: 768px) {
  footer {
    padding-bottom: 0;
  }
}

.ham {
  padding: 0;
  height: 80px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ham li {
  background-color: white;
  height: 8px;
  margin: 3px;
  width: 60%;
  position: relative;
}
@media (min-width: 768px) {
  .ham {
    display: none;
  }
}

.hamX li:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
}
.hamX li:nth-child(2) {
  background: transparent;
}
.hamX li:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 14px;
}

nav {
  position: absolute;
  display: flex;
  width: 100%;
  height: 50px;
}
@media (min-width: 768px) {
  nav {
    width: fit-content;
    text-align: right;
    position: static;
    width: auto;
    height: auto;
  }
}
nav a {
  color: white;
  background: black;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
@media (min-width: 768px) {
  nav a {
    background: none;
    color: white;
    height: fit-content;
    align-self: center;
    border: none;
  }
  nav a:nth-child(-n+2) {
    margin-right: 50px;
  }
  nav a:hover {
    color: #e7aa63;
  }
}

.project {
  width: auto;
}
.project h3, .project span {
  width: auto;
}

.project-ul, .project-menu {
  max-width: 900px;
}
@media (min-width: 768px) {
  .project-ul, .project-menu {
    display: grid;
    align-items: flex-start;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

.project-ul {
  margin-top: 30px;
  width: 95vw;
}
.project-ul > li:nth-child(2) {
  display: flex;
  justify-content: center;
}
.project-ul h1, .project-ul h2 {
  margin: 10px 0;
}
.project-ul p {
  margin: 20px 0;
}
.project-ul h1 {
  margin-top: 20px;
}

.project-menu {
  text-transform: capitalize;
}
.project-menu ul {
  margin-bottom: 20px;
}
.project-menu li li {
  padding: 10px;
  border-bottom: 1px solid black;
}

@media (min-width: 768px) {
  .project-menu ul, .project-ul > li {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .project-menu ul > li:first-child {
    display: flex;
    justify-content: center;
  }
}

.projects-div h1 {
  margin-top: 20px;
}

.preview {
  width: 80vw;
  max-width: 300px;
  height: 90vh;
  max-height: 650px;
  border-radius: 30px;
  border: 5px solid #2a2a2a;
}

.tech {
  margin-right: 10px;
}

.fam-front {
  width: 95vw;
  max-width: 900px;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px #535353;
}

.home {
  max-width: 900px;
  width: 95vw;
}
.home h1, .home h2 {
  background: none;
  padding: 0;
  text-align: center;
}
.home a {
  width: fit-content;
}
.home h1 {
  margin-top: 50px;
}
.home h2 {
  margin: 20px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.4em;
}

.learn-more {
  margin: 50px;
}

@media (min-width: 768px) {
  .about {
    grid-column: 2/3;
    grid-row: 1/2;
  }
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
}
.skills li {
  width: fit-content;
}
.skills ul li {
  margin-right: 30px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .skills {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .skills li {
    width: 100%;
  }
}

.fam {
  width: 95vw;
  max-width: 900px;
  margin-top: 10px;
  border-radius: 12px;
  box-shadow: 0 0 10px #535353;
}

/*# sourceMappingURL=App.css.map */
