* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.uppercase {
  text-transform: uppercase;
}

.bottom20 {
  margin-bottom: 20px;
}

.project-menu, .fam, .fam-front {
  width: 95vw;
}

.content, .project-menu, .project-ul, .home, .header-content, .fam-front {
  max-width: 900px;
}

body, header, div, footer, footer ul, #root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body, div, #root, header {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: fixed;
  bottom: 0;
  background: #5b776a;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header h1 {
  background: none;
  padding: 0;
  font-size: 1.2em;
  color: white;
}

header h3 {
  font-size: 0.8em;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.logo-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header div {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div span h3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.logo {
  height: 40px;
  margin: 5px;
  width: auto;
}

.ham {
  padding: 0;
  height: 80px;
  width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ham li {
  background-color: white;
  height: 8px;
  margin: 3px;
  width: 60%;
  position: relative;
}

.hamX li:nth-child(1) {
  top: 14px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.hamX li:nth-child(2) {
  background: transparent;
}

.hamX li:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 14px;
}

.hide {
  bottom: -100px;
}

.show {
  bottom: 80px;
}

nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
}

nav a {
  color: white;
  background: black;
  font-size: 1.1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

header a, .project-menu a {
  text-decoration: none;
}

.social {
  width: 44px;
}

.active {
  color: #e7aa63;
}

a {
  color: black;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
  padding: none;
}

.fam, .fam-front {
  margin-top: 10px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px #535353;
          box-shadow: 0 0 10px #535353;
}

h1, h2, h3, h4, h5, h6 {
  width: auto;
}

h4, h5, h6 {
  text-transform: capitalize;
}

h1, h2, h3 {
  text-transform: uppercase;
}

button {
  border-radius: 5px;
}

h1 {
  font-size: 1.8em;
  color: #0082ad;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
  color: #0082ad;
}

.content {
  width: 95vw;
}

.content h2 {
  margin: 20px 0;
}

.content-parent {
  min-height: 100vh;
}

.section-header {
  margin-bottom: 20px;
}

button {
  cursor: pointer;
  width: 200px;
  border: none;
  background-color: black;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.btns {
  margin-bottom: 50px;
}

.home h1, .home h2 {
  background: none;
  padding: 0;
  text-align: center;
}

.home a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.home h1 {
  margin-top: 50px;
}

.home h2 {
  margin: 20px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.4em;
}

.learn-more {
  margin: 50px;
}

.skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.skills li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.skills ul li {
  margin-right: 30px;
  margin-bottom: 20px;
}

.project {
  width: auto;
}

.project h3, .project span {
  width: auto;
}

.project-ul {
  margin-top: 30px;
  width: 95vw;
}

.project-ul > li:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-ul h1, .project-ul h2 {
  margin: 10px 0;
}

.project-ul p {
  margin: 20px 0;
}

.project-ul h1 {
  margin-top: 20px;
}

.project-menu {
  text-transform: capitaize;
}

.project-menu ul {
  margin-bottom: 20px;
}

.project-menu li li {
  padding: 10px;
  border-bottom: 1px solid black;
}

.projects-div h1 {
  margin-top: 20px;
}

.preview {
  width: 80vw;
  max-width: 300px;
  height: 90vh;
  max-height: 650px;
  border-radius: 30px;
  border: 5px solid #2a2a2a;
}

.tech {
  margin-right: 10px;
}

footer {
  margin-top: 50px;
  padding-bottom: 80px;
}

footer ul {
  height: auto;
  text-transform: capitalize;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: center;
  font-size: 0.8em;
}

.error {
  margin-bottom: 20px;
  text-align: center;
}

.error-div {
  padding-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.see {
  margin: 50px 0;
}

@media screen and (min-width: 600px) {
  header {
    position: static;
    margin-bottom: 20px;
  }
  footer {
    padding-bottom: 0;
  }
  header h3 {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .ham {
    display: none;
  }
  .fam {
    width: 100%;
  }
  a:hover {
    color: #9f4800;
  }
  .project:hover, button:hover {
    background-color: yellow;
    color: black;
  }
  .logo-link:hover {
    background: none;
  }
  nav {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align: right;
    position: static;
    width: auto;
    height: auto;
  }
  nav a {
    background: none;
    color: white;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    border: none;
  }
  nav a:nth-child(-n + 2) {
    margin-right: 50px;
  }
  nav a:hover {
    color: #e7aa63;
  }
  .logo {
    height: 50px;
  }
}

@media screen and (min-width: 700px) {
  .project-menu, .content, .project-ul {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .project-menu, .project-ul {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .project-menu ul, .project-ul > li {
    width: 300px;
  }
  .project-menu ul > li:first-.hild {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content {
    -ms-grid-columns: 200px auto;
        grid-template-columns: 200px auto;
  }
  .about {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .skills {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .skills li {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */