* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  transition: all 150ms ease;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App,
.content,
#project-menu,
.project-ul,
#home {
  max-width: 900px;
}

body,
header,
div,
footer,
footer ul,
#root {
  display: flex;
}

body,
div,
#root {
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 20px;
}

header div {
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 50px;
  width: auto;
}

ul {
  list-style: none;
  padding: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  width: fit-content;
  text-transform: capitalize;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  background-color: yellow;
}

h2 {
  background-color: aqua;
}

#home h2,
#home h1 {
  background: none;
}

.logo {
  margin: 5px;
}

#ham {
  padding: 0;
  height: 80px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ham li {
  background-color: black;
  height: 8px;
  margin: 3px;
  width: 60%;
  position: relative;
}

nav {
  position: absolute;
  display: flex;
  width: 100%;
  top: -100px;
  height: 50px;
}

nav a {
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fam {
  max-width: 100vw;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(83, 83, 83);
}

header a,
#project-menu a {
  text-decoration: none;
}

header h1 {
  font-size: 1.8em;
}

a {
  color: black;
}

a,
button {
  cursor: pointer;
}

#learn-more {
  margin: 50px;
}

.content {
  width: 95vw;
}

.content h2 {
  margin: 20px 0;
}

.project-ul {
  margin-top: 30px;
  width: 95vw;
}

.project,
.project h3,
.project span {
  width: auto;
}

.project-ul > li:nth-child(2) {
  display: flex;
  justify-content: center;
}

.project-ul h1,
.project-ul h2 {
  margin: 10px 0;
}

.project-ul p {
  margin: 20px 0;
}

.project-ul h1 {
  text-align: center;
}

#home,
#project-menu {
  width: 95vw;
}

#home h1,
#home h2 {
  margin: 20px;
  text-align: center;
}

#home a {
  width: fit-content;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
}

#skills li {
  width: fit-content;
}

#skills ul li {
  margin-right: 30px;
  margin-bottom: 20px;
}

footer {
  margin-top: 50px;
}

footer ul {
  height: auto;
  text-transform: capitalize;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 0.8em;
}

#content-parent {
  min-height: 100vh;
}

#project-menu {
  text-transform: capitalize;
}

#project-menu ul {
  margin: 10px 0;
}

#project-menu li li {
  padding: 10px;
  border-bottom: 1px solid black;
}

main p {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

.preview {
  width: 80vw;
  max-width: 300px;
  height: 80vh;
  max-height: 650px;
  border-radius: 30px;
  border: 5px solid rgb(42, 42, 42);
}

.bottom20 {
  margin-bottom: 20px;
}

button {
  width: 200px;
  border: none;
  background-color: black;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
}

.tech {
  margin-right: 10px;
}

.btns {
  margin-bottom: 50px;
}

.error {
  text-align: center;
}

@media screen and (min-width: 600px) {
  #ham {
    display: none;
  }

  a:hover,
  .project:hover,
  button:hover {
    background-color: yellow;
    color: black;
  }

  nav {
    width: fit-content;
    text-align: right;
    position: static;
    width: auto;
    height: auto;
  }

  nav a {
    margin-right: 50px;
    background: none;
  }
}

@media screen and (min-width: 700px) {
  #project-menu,
  .content,
  .project-ul {
    display: grid;
    align-items: flex-start;
  }

  #project-menu,
  .project-ul {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  #project-menu ul,
  .project-ul > li {
    width: 300px;
  }

  #project-menu ul > li:first-child {
    display: flex;
    justify-content: center;
  }

  .content {
    grid-template-columns: 200px auto;
  }

  #about {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #skills {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #skills li {
    width: 100%;
  }
}
