* {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  transition: all 150ms ease;
}

:root {
  --one: rgb(0, 130, 173);
  --two: rgb(159, 72, 0);
  --three: rgb(50, 50, 50);
  --four: rgb(91, 119, 106);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content,
#project-menu,
.project-ul,
#home,
.header-content {
  max-width: 900px;
}

body,
header,
div,
footer,
footer ul,
#root {
  display: flex;
}

body,
div,
#root,
header {
  flex-direction: column;
  align-items: center;
}

header {
  position: fixed;
  bottom: 0;
  background: var(--four);
  align-items: center;
  justify-content: space-between;
}

#logo-link {
  display: flex;
  align-items: center;
  width: fit-content;
}

header div {
  flex-direction: row;
  align-items: center;
}

header div span h3 {
  flex-direction: row;
  align-items: flex-start;
}

ul {
  list-style: none;
  padding: none;
}

/* img */

.logo {
  height: 40px;
  margin: 5px;
  width: auto;
}

.fam {
  margin-top: 10px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(83, 83, 83);
}

/* headline shenanigans */

h1,
h2,
h3,
h4,
h5,
h6 {
  width: auto;
  text-transform: capitalize;
}

h2,
button {
  border-radius: 5px;
}

h1 {
  font-size: 1.8em;
}

h1,
h3 {
  color: var(--one);
}

header h1,
#home h1,
#home h2 {
  background: none;
  padding: 0;
}

header h1 {
  font-size: 1.2em;
  color: white;
}

header h3 {
  font-size: 0.8em;
  color: white;
  width: fit-content;
}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.1em;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}
/* menu */

#ham {
  padding: 0;
  height: 80px;
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#ham li {
  background-color: white;
  height: 8px;
  margin: 3px;
  width: 60%;
  position: relative;
}

nav {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: -100px;
  height: 50px;
}

/* a */

nav a {
  color: white;
  background: black;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

header a,
#project-menu a {
  text-decoration: none;
}

a {
  color: black;
}

a,
button {
  cursor: pointer;
}

#learn-more {
  margin: 50px;
}

/* #home {
  background-image: url("img/texture.jpg");
  background-size: 500px 1000px;
} */

#home a {
  width: fit-content;
}

/* body */

.content {
  width: 95vw;
}

.content h2 {
  margin: 20px 0;
}

.project-ul {
  margin-top: 30px;
  width: 95vw;
}

.project,
.project h3,
.project span {
  width: auto;
}

.project-ul > li:nth-child(2) {
  display: flex;
  justify-content: center;
}

.project-ul h1,
.project-ul h2 {
  margin: 10px 0;
}

.project-ul p {
  margin: 20px 0;
}

.project-ul h1 {
  margin-top: 20px;
}

#home,
#project-menu {
  width: 95vw;
}

#home h1 {
  margin-top: 50px;
}
#home h2 {
  margin: 20px;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 1.4em;
}

#home h1,
#home h2 {
  text-align: center;
}

#skills ul {
  display: flex;
  flex-wrap: wrap;
}

#skills li {
  width: fit-content;
}

#skills ul li {
  margin-right: 30px;
  margin-bottom: 20px;
}

footer {
  margin-top: 50px;
  padding-bottom: 80px;
}

footer ul {
  height: auto;
  text-transform: capitalize;
  flex-direction: column-reverse;
  text-align: center;
  font-size: 0.8em;
}

#content-parent {
  min-height: 100vh;
}

#project-menu {
  text-transform: capitalize;
}

#project-menu ul {
  margin: 10px 0;
}

#project-menu li li {
  padding: 10px;
  border-bottom: 1px solid black;
}

.uppercase {
  text-transform: uppercase;
}

.preview {
  width: 80vw;
  max-width: 300px;
  height: 90vh;
  max-height: 650px;
  border-radius: 30px;
  border: 5px solid rgb(42, 42, 42);
}

.bottom20 {
  margin-bottom: 20px;
}

button {
  width: 200px;
  border: none;
  background-color: black;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  font-size: 1.1em;
}

.tech {
  margin-right: 10px;
}

.btns {
  margin-bottom: 50px;
}

.error {
  margin-bottom: 20px;
  text-align: center;
  width: fit-content;
}

.error-div {
  padding-top: 100px;
}

.see {
  margin: 50px 0;
}

.social {
  width: 44px;
}

@media screen and (min-width: 600px) {
  header {
    position: static;
  }

  footer {
    padding-bottom: 0;
  }

  header h3 {
    width: fit-content;
  }

  #ham {
    display: none;
  }

  a:hover {
    color: var(--two);
  }

  .project:hover,
  button:hover {
    background-color: yellow;
    color: black;
  }

  #logo-link:hover {
    background: none;
  }

  nav {
    width: fit-content;
    text-align: right;
    position: static;
    width: auto;
    height: auto;
  }

  nav a {
    background: none;
    color: white;
    height: fit-content;
    align-self: center;
    border: none;
  }

  nav a:nth-child(-n + 2) {
    margin-right: 50px;
  }

  nav a:hover {
    color: #e7aa63;
  }

  .logo {
    height: 50px;
  }
}

@media screen and (min-width: 700px) {
  #project-menu,
  .content,
  .project-ul {
    display: grid;
    align-items: flex-start;
  }

  header {
    margin-bottom: 20px;
  }

  #project-menu,
  .project-ul {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  #project-menu ul,
  .project-ul > li {
    width: 300px;
  }

  #project-menu ul > li:first-child {
    display: flex;
    justify-content: center;
  }

  .content {
    grid-template-columns: 200px auto;
  }

  #about {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  #skills {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  #skills li {
    width: 100%;
  }
}
