@use '../utilities/mixins'
  
.fam-front
  @include mixins.fam-pic


.home
  @include mixins.max-width
  @include mixins.vw-large
  h1, h2
    background: none
    padding: 0
    text-align: center

  a
    width: fit-content

  h1
    margin-top: 50px

  h2
    margin: 20px
    text-transform: capitalize
    font-weight: 300
    font-size: 1.4em

.learn-more
  margin: 50px
